In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import app

In [3]:
bank = app.Bank('DKB')

In [4]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {}
Transactions: {}

In [5]:
einstein = bank.open_account(
    app.Account(number=1,
                firstname='Albert',
                lastname='Einstein',
                balance=500.0)
)
ehrenfest = bank.open_account(
    app.Account(number=2,
                firstname='Paul',
                lastname='Ehrenfest')
)

In [15]:
transaction = bank.add_transaction(sender=einstein,
                                   recipient=ehrenfest,
                                   subject='Bücher',
                                   amount=100.0)

In [7]:
import sys

In [8]:
print(sys.getsizeof(einstein))
print(sys.getsizeof(ehrenfest))
print(sys.getsizeof(bank))

56
56
56

In [9]:
print(einstein)

<app.account.Account object at 0x10c3bd908>

In [10]:
einstein.info()

'Number 1: Albert Einstein - 400.0 €'

In [11]:
sys.getsizeof(bank)

56

In [12]:
print(bank)

<app.bank.Bank object at 0x10c3bd240>

In [13]:
print(einstein.bank)

<app.bank.Bank object at 0x10c3bd240>

In [16]:
bank.info()

Bank: DKB

Accounts:
Number 1: Albert Einstein - 300.0 €
Number 2: Paul Ehrenfest - 200.0 €

Transactions:
Id 1: Date 2019-02-07 20:07:39 - From 1 to 2: Bücher - 100.0 €
Id 2: Date 2019-02-07 20:08:12 - From 1 to 2: Bücher - 100.0 €